<div style="width: 100%;background-color: #4CAF50;overflow: hidden;color: white;">
  <div style="
  width: 90%;
  float: left;
  text-align: center;
">
    <h2>Super Market Management System</h2>
  </div>
     <div style="
     width: 10%;
     float: right;
     text-align: center; padding-top: 1%;"> <a input type="button" style="text-decoration:none; color: white;" value="Logout" [routerLink]="['']" class="btn"> Logout </a></div>  
  </div>


   <div style="width: 100%; overflow: hidden; text-align: center;">
      <!-- <h3>Bill Generation</h3> -->
      <button type="button" [routerLink]="['../billingDetails']" class="signup">Bill Generation</button> 
      <hr>
   </div>

   <h2 style="text-align: center;">Welcome..!!</h2>

 